{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <section class="home-page">

    <div class="landingPage-img-container">
        <img src="{{asset('img/Terasse3.jpg')}}" class="landingPage-img">
    </div>

    <div class="description">
        <h1 class="licorice-title">Au Paradis d'Eve</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_edit_home_text') }}">Modifier la page d'accueil</a>
        {% endif %}

        <p><strong>{{ data.maison_dhote }}</p>
        <p><a href="{{ path('app_reservation') }}">Réservez</a> sur notre site en toute sécurité</p>
        <p>{{ data.environnement }}</p>
    </section>

    <section class="apercu-chambres">
        <a href="">Réservez votre séjour</a>

        {% for chambre in chambres %}
            <div class="carte-chambre">
                {# <img src="{{chambre.image}}" alt=""> #}
                <img src="{{asset('img/chambreLilas.jpg')}}" alt="exemple de chambre" class="image-chambre">
                <p class="prix-chambre-par-nuit">{{ chambre.prix }}€/nuit</p>
                {# <a href="{{path('show_espace', {'id' :chambre.id})}}">{{chambre.nomEspace}}</a> #}
                {# <p>Disponible à partir du [prochaine dispo]</p> #}
                {# <a href="">Réserver</a> #}
            </div>
        {% endfor %}
    </div>

        {# {% for chambre in chambres %}
            <a href="{{path('show_espace', {'id' :chambre.id})}}">{{chambre.nomEspace}}</a>
            {{chambre.prix}}€
            <p>Disponible à partir du</p>
            <a href="">Réserver</a>
        {% endfor %} #}
    </section>
    <section class="pdb">
        <img src="{{ asset('img/altschlossfelsen.jpg') }}" alt="L'Altschlossfelsen, nom à consonance germanique signifie :Rocher du Vieux Château.  Barre rocheuse aux couleurs rougeâtres qui porte toutes les particularités géologiques des Vosges du Nord.">
        <h2 class="licorice-title">{{ data.pays_de_bitche }}</h2>
        <p>{{ data.description_pays_de_bitche | raw }}</p>
    </section>
    <section class="mascotte">
        <h3>{{ data.mascotte }}</h3>
        <img src="{{ asset('img/Mascotte.jpg')}}" alt="Chat noir et blanc">
        <p>{{ data.description_mascotte | raw }}</p>
    </section>
    <section class="contact" id="contact">
        <div class="infos-contact">
            <h5>Pour contacter Eve...</h5>
            <p><span class="material-symbols-outlined">call</span> {{ data.telephone_fixe }}</p>
            <p><span class="material-symbols-outlined">sms</span> {{ data.telephone }}</p>
            <p><span class="material-symbols-outlined">home</span> {{ data.adresse }}</p>
            <p>{{ data.cp }}{{ data.ville }}</p>
            <p><span class="material-symbols-outlined">mail</span> {{ data.email }}</p>
        </div>
        <div class="form-contact">
            {{ form_start(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            {{ form_row(form.valider)}}

            {{ form_end(form) }}
        </div>
        <button id="scrollToTopBtn" onclick="scrollToTop()"><span class="material-symbols-outlined">
            arrow_upward
            </span></button>
    </section>
{% endblock %}
