{% extends 'base.html.twig' %}
{% block meta_description %} Accueil - Au Paradis d'Eve - Bienvenue {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

    <section class="home-page">
        <div class="parallax"></div>
        <div class="description">
            <strong><h1 class="licorice-title">Au Paradis d'Eve</h1></strong>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_edit_home_text') }}">Modifier la page d'accueil</a>
            {% endif %}

            <p><strong>{{ data.maison_dhote }}</p>
            <p><a href="{{ path('app_reservation') }}"><strong>Réservez</strong></a> sur notre site en toute sécurité</p>
            <p>{{ data.environnement }}</p>
        </div>
    </section>

    <section class="apercu-chambres">
        <a href="{{ path('app_reservation') }}" class="titre-apercu-chambres"><h2>Réservez votre séjour</h2></a>
        <div class="conteneur-cartes-chambre">
            {% for chambre in chambres|slice(0,4) %}
            <div class="carte-chambre">
                <a href="{{path('show_espace', {'id' :chambre.id})}}">
                    <div class="options-chambre-hover">
                        <div class="cadre">
                            {{ chambre.nomEspace }} <br>
                            {{ chambre.taille }} m² <br>
                            Pour {{ chambre.nbPlaces }} personnes
                            {{ chambre.prix }}€/personne <br>
                            {% if chambre.wifi == 1 %}
                                <span class="material-symbols-outlined">
                                    wifi
                                </span>
                            {% else %}
                                <span class="material-symbols-outlined">
                                    wifi_off
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    {% for image in chambre.images|slice(0, 1) %}
                        {% if image.lienImage is null %}
                            <img src="{{ asset('img/chambreLilas.jpg')}}" width="300">
                        {% else %}
                            <img src="{{ asset('uploads/images/' ~ image.lienImage) }}" width="300">
                        {% endif %}
                    {% endfor %}
                    <div class="details-apercu-chambre">
                        <a href="{{path('show_espace', {'id' :chambre.id})}}">{{chambre.nomEspace}}</a>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </section>
    <button id="scrollToTopBtn"><span class="material-symbols-outlined">
        arrow_upward
        </span></button>
    <section class="pdb">
        {# <div class="parallax-pdb"></div> #}
        <img src="{{ asset('img/altschlossfelsen.jpg') }}" alt="L'Altschlossfelsen, nom à consonance germanique signifie :Rocher du Vieux Château.  Barre rocheuse aux couleurs rougeâtres qui porte toutes les particularités géologiques des Vosges du Nord.">
        <div class="titre-text">
            <h2 class="licorice-title">{{ data.pays_de_bitche }}</h2>
            <p>{{ data.description_pays_de_bitche | raw }}</p>
            <a href="https://www.pfalz.de/de/sehenswuerdigkeit/altschlossfelsen" class="credit">https://www.pfalz.de/de/sehenswuerdigkeit/altschlossfelsen</a>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="cadre">
            <h5>Nous contacter</h5>
    
            <div class="infos-and-form">
                <div class="form-contact">
                    <h6>Contactez-nous...</h6>
        
                    {{ form_start(form) }}
        
                    {{ form_row(form.email) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.valider)}}
        
                    {{ form_end(form) }}
                </div>
                <div class="infos-contact">
                    <h6>Nos coordonnées...</h6>
                    <div class="contact-row">
                        <span class="material-symbols-outlined">call</span>
                        {{ data.telephone_fixe }}
                    </div>
                    <div class="contact-row">
                        <span class="material-symbols-outlined">sms</span>
                        {{ data.telephone }}
                    </div>
                    <div class="contact-row">
                        <span class="material-symbols-outlined">home</span>
                        {{ data.adresse }}
                    </div>
                    <div class="contact-row">
                        {{ data.cp }}
                        {{ data.ville }}
                    </div>
                    <div class="contact-row">
                        <span class="material-symbols-outlined">mail</span>
                        <a href="mailto:auparadisdeve@gmail.com">{{ data.email }}</a>
                    </div>
                </div>
                {# <img src="{{ asset('img/leaf.png') }}" alt="Aquarelle de feuilles vertes"> #}
            </div>
        </div>
    </section>
    <section class="mascotte">
        <h3>{{ data.mascotte }}</h3>
        <div class="mascotte-img-text">
            <img src="{{ asset('img/Mascotte.jpg')}}" alt="Chat noir et blanc">
            <p>{{ data.description_mascotte | raw }}</p>
        </div>
    </section>
{% endblock %}
