{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/avis.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Vos avis{% endblock %}

{% block body %}

    <section class="section-avis">

        <h1>Vos avis...</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <button id="reafficher-evaluations">Réafficher les évaluations masquées</button>
        {% endif %}

        {% for reservation in toutesReservationsPassees %}
            <div class="evaluation" id="evaluation_{{ reservation.id }}">
                <h2>{{reservation.espace.nomEspace}}</h2>
                {{reservation.dateDebutFr}} au {{reservation.dateFinFr}}<br>

                {{ reservation.prenom|slice(0, 1) }} :
                {# {% if reservation.getAvis() is not null %} #}
                {% if reservation.getAvis()|length > 1 %}
                    {{ reservation.getAvis() }}<br>
                {% else %}
                    <p>Pas de commentaire</p>
                {% endif %}

                {% if reservation.getNote() is not null %}
                    <h3>Note : {{ reservation.getNote() }} /20</h3>
                {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="" class="masquer-evaluation" data-evaluation-id="{{ reservation.id }}">Masquer l'évaluation</a><br>
                        {# <a href="">Répondre à l'utilisateur</a> #}
                    {% endif %}
            </div>
        {% endfor %}

    </section>
{% endblock %}
