{% extends 'base.html.twig' %}
{% block meta_description %} Remplissez vos coordonnées - Coordonnées de réservation {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('css/formulaireReservation.css') }}">
    {# <link rel="stylesheet" href="{{ asset('css/reservation.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Etape 2 réservation{% endblock %}

{% block body %}

    <h1>Réservation</h1>
    
    <section class="section-coordonnees">

        <div class="resume-reservation">
            <h2>Résumé de la réservation</h2>
            <p>Du {{reservation.dateDebutFr}} au {{reservation.dateFinFr}}</p>
            <p>Dans la {{espace.nomEspace}} de {{espace.taille}} m²</p>
            <p>Pour {{reservation.nbPersonnes}} personne(s) (enfants non inclus)</p>
            {# <p>Check-in à partir de 15h - Check-out à 11h</p> #}
            {% if reservation.options %}
            
                {% for option in reservation.options %}
                    <li>{{ option.nom }} {{ option.tarif }}€</li>
                {% endfor %}
            
            {% endif %}
            <hr>
            <p>Pour un total de <b>{{ prixTotal }} €</b></p>

        </div>
        <div class="reservation-form">
        {# <div class="etape-reservation-form"> #}
            <h3>Vos coordonnées</h3>

            {{ form_start(form) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}

                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse) }}

                {{ form_label(form.cp) }}
                {{ form_widget(form.cp) }}

                {{ form_label(form.ville) }}
                {{ form_widget(form.ville) }}

                {{ form_label(form.pays) }}
                {{ form_widget(form.pays) }}

            {{ form_end(form) }}


            <p>Ces informations apparaîtront sur votre facture</p>
            <p>Les champs marqués d'un * sont obligatoires</p>
        </div>
    </section>

{% endblock %}
