{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/reservation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Reservation{% endblock %}

{% block body %}

<section class="reservation">
    <h1>SELECTIONNEZ VOTRE SEJOUR</h1>

    <div class="carte-chambre">
        <img src="" alt="">
        <div class="info-chambre">
            {% for chambre in chambres %}
            <a href="{{path('show_espace', {'id' :chambre.id})}}">{{chambre}}</a><a href="{{ path('new_reservation', {'id' :chambre.id})}}">Réserver</a><br>
            {% endfor %}
        </div>
    </div>
    {# Formulaire - Zone de recherche de séjour aux dates entrées (n'afficher que les chambres dispos pour le nb de personnes si possible) #}
    <div class="selection-sejour">
        <form action=""></form>
    </div>
</section>

{% endblock %}