{% extends 'base.html.twig' %}
{% block meta_description %} Formulaire - Modification de la sortie - Administration {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/alentours.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Modifier la sortie{% endblock %}

{% block body %}
    <section class="edit-alentours">
        <h1>Modifier la sortie</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
