{% extends 'base.html.twig' %}
{% block meta_description %} Réservations passées - Vue administrateur {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}
    <section class="profil">

        <h1>Administration</h1>
        
        <div class="boutons-reservations-user">
                    
            {% if is_granted('ROLE_ADMIN') %}            
        
                <a href="{{ path('reservations_en_cours') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Réservations en cours</a>
                <a href="{{ path('reservations_a_venir') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Réservations à venir</a>
                <a href="{{ path('reservations_passees') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Réservations passées</a>
                <a href="{{ path('reservations_annulees') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Les annulations</a>

                <a href="{{ path('admin_edit_home_text') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Modifier les textes de la page d'accueil</a>

                <a href="{{ path('new_espace')}}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Ajouter un espace de vie</a>

                <a href="{{ path('app_espace') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Modifier ou supprimer un espace de vie</a>

                <a href="{{ path('app_alentours') }}" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Modifier les textes des alentours</a>

                <a href="" class="admin-bouton"><span class="material-symbols-outlined">
                    admin_panel_settings
                </span>Liste des options</a>

        
            {% endif %}
        </div>
    </section>
{% endblock %}