<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}Waloude Prévoyance Décès{% endblock %}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🤎​</text></svg>">
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block css %}<link rel="stylesheet" href="{{asset('css/base.css')}}">{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="langages">
                <img src="{{asset('icons/french.png')}}" alt="drapeau français" width="16">
                <!-- <a href="https://www.flaticon.com/fr/icones-gratuites/drapeau" title="drapeau icônes">Drapeau icônes créées par Freepik - Flaticon</a> -->
                <img src="{{asset('icons/uk.png')}}" alt="drapeau anglais - english flag" width="20">
                <!-- <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons">Uk flag icons created by Freepik - Flaticon</a> -->
                <img src="{{asset('icons/german.png')}}" alt="drapeau allemand - german flag" width="20">
                <!-- <a href="https://www.flaticon.com/free-icons/german" title="german icons">German icons created by Mzipi - Flaticon</a> -->
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">ACCUEIL</a></li>
                    <li><a href="{{ path('app_alentours') }}">LES ALENTOURS</a></li>
                    <li><a href="{{ path('app_espace') }}">CHAMBRES ET ESPACES DE VIE</a></li>
                    <div class="logo">
                        <li><a href="{{ path('app_home') }}"><h1>Au Paradis d'Eve</h1></a></li>
                        <li><a href="{{ path('app_home') }}">Maison d'hôte à Bitche</a></li>
                    </div>
                    <li><a href="{{ path('app_reservation') }}">RESERVATION</a></li>
                    <li><a href="/home#contact">CONTACT</a></li>
                    <li><a href="{{ path('avis') }}">AVIS</a></li>
                    <li> 
                        {% if app.user %}
                        <a href="{{ path('app_user') }}"><span class="material-symbols-outlined">
                            account_circle
                            </span></a>
                            <a href="{{path('app_logout')}}"><span class="material-symbols-outlined">
                            logout
                            </span></a>
            
                        {% else %}
                            <a href="{{path('app_login')}}">CONNEXION</a>
                            {# <a href="{{path('app_register')}}">INSCRIPTION</a> #}
                    {% endif %}
                    </li>
                </ul>
                <div class="burger-icon" id="burger-icon" onclick="toggleBurgerMenu()">
                    <span class="material-symbols-outlined">
                        menu
                        </span>
                </div>
                <div class="logo-burger">
                    <li><a href="{{path('app_home')}}">Au Paradis d'Eve</a></li>
                    <li>Maison d'hôte à Bitche</li>
                </div>

                <div class="icon-name">
                    <i class="fa-solid fa-circle-user" onclick="toggleUserMenu()"></i>

                    {% if app.user %}
                        {{app.user.pseudo}}
                    {% endif %}
                </div>
                
                <div class="user">
                    {# Affichage user en desktop #}
                    {% if app.user %}
                        <li><a href="{{path('app_logout')}}"><span class="material-symbols-outlined">
                            logout
                            </span></a></li>
                    {% else %}
                        <li><a href="{{path('app_login')}}">CONNEXION</a></li>
                        <li><a href="{{path('app_register')}}">INSCRIPTION</a></li>
                    {% endif %}
                </div>
                {# Affichage user en mobile #}
                <div class="user-menu">
                    {% if app.user %}
                        <li><a href="{{ path('app_user') }}">MON COMPTE</a></li>
                        <li>
                            <a href="{{ path('app_logout') }}">
                                <p>DECONNEXION</p>
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">CONNEXION</a></li>
                        <li><a href="{{ path('app_register') }}">INSCRIPTION</a></li>
                    {% endif %}
                </div>
            </nav>
        </header>
        {# {% for message in app.flashes('notice') %}
            {{ message }}
        {% endfor %} #}
        
        {% block body %}            
        {% endblock %}
        
        <div class="flashes">
            {% block flashes %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        </div>
        
        {% block footer %}
            <footer>
                <div class="reseaux">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/fr/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                </div>
                <a href="{{ path('mentions') }}">Mentions légales</a><a href="{{ path('conditions') }}">Conditions générales</a>
                <a href="https://www.linkedin.com/in/davina-houquet/" target="_blank">Davina Houquet</a>
            </footer>
        {% endblock footer %}
        
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
