{% extends 'base.html.twig' %}

{% block title %}Chambres et espaces de vie{% endblock %}

{% block body %}
<a href="{{ path('new_espace')}}">Ajouter un espace</a>
    <div class="espaces">
        {% for espace in espaces %}
            <a href="{{path('show_espace', {'id' :espace.id})}}"> {{espace.nomEspace}}</a>
            <a href="{{ path('edit_espace', {'id' :espace.id}) }}">Modifier</a>
            <a href="{{ path('remove_espace', {'id' :espace.id}) }}">Supprimer</a><br>
        {% endfor %}
    </div>
{% endblock %}
