{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/espaces.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}
{% block title %}Chambres et espaces de vie{% endblock %}

{% block body %}

<section class="espaces-section">
    {# <img src="{{ asset('../img/bibliothèque.jpg') }}" alt="bibliothèque murale avec statue" class="espace-illustration"> #}
    <h1>Les chambres et espaces de vie</h1>
    <div class="espaces-liste">
        <a href="{{ path('new_espace')}}" class="action-espace">Ajouter un espace</a>
        {% for espace in espaces %}
            <div class="espace">
                {# {{ dump((espace.images | first)) }} #}
                <a href="{{path('show_espace', {'id' :espace.id})}}" class="nom-espace"> {{espace.nomEspace}}</a>
                {# <img src="{{ asset('img/' ~ espace.images | first) }}" alt=""> #}

                {% for image in espace.images %}
                {# {{ dump(image.lienImage) }} #}
                    {% if image.lienImage is null %}
                        <img src="{{ asset('img/chambreLilas.jpg')}}" width="300">
                    {% else %}
                        <img src="{{ asset('uploads/images/' ~ image.lienImage) }}" alt="{{ image.altImage|default('Texte de remplacement')}}" width="300">
                    {% endif %}
                {% endfor %}
                
                    {# <a href="{{ path('app_direction', {'id' :espace.id})}}">Réserver</a> #}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('edit_espace', {'id' :espace.id}) }}" class="action-espace">Modifier</a>
                        <a href="{{ path('remove_espace', {'id' :espace.id}) }}" class="action-espace">Supprimer</a>
                    {% endif %}
                    <br>
                </div>
            {% endfor %}
    </div>
</section>

{% endblock %}