{% extends 'base.html.twig' %}

{% block title %}
    {# {% if edit %}
        Editer un Espace
    {% else %} #}
        Créer un Espace
    {# {% endif %} #}
{% endblock %}

{% block body %}

    {# {% if edit %}
        <h1>Editer un Espace</h1>
    {% else %} #}
        <h1>Créer un Espace</h1>
    {# {% endif %} #}

<p>Faire une condition pour afficher l'un ou l'autre stp merci :)</p>
    {{ form_start(form) }}
    
        {{ form_row(form.nom_espace) }}
        {{ form_row(form.taille) }}
        {{ form_row(form.wifi) }}
        {{ form_row(form.nb_places) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.categorie) }}

    {{ form_end(form) }}
{% endblock %}