{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/espaces.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}
{% block title %}
    {% if edit %}
        Editer un Espace
    {% else %}
        Créer un Espace
    {% endif %}
{% endblock %}

{% block body %}

<section class="formulaire-espace">
    {% if edit %}
        <h1>Editer un Espace</h1>
    {% else %}
        <h1>Créer un Espace</h1>
    {% endif %}

    {{ form_start(form) }}
    
        {{ form_row(form.nom_espace) }}
        {{ form_row(form.taille) }}
        {{ form_row(form.wifi) }}
        {{ form_row(form.nb_places) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.categorie) }}

    {{ form_end(form) }}
</section>
{% endblock %}