{% extends 'base.html.twig' %}
{% block meta_description %} Détails d'espace {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/espaces.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}
{% block title %}Détails d'un espace!{% endblock %}

{% block body %}

<section class="detail-espace">
  <a href="{{ path('app_espace') }}" class="return-button"><span class="material-symbols-outlined">
    arrow_back
    </span></a>

    {% if is_granted ('ROLE_ADMIN') %}
      <div class="admin-actions">
        {# <a href="{{ path('edit_espace', {'id' :espace.id}) }}">Marquer comme indisponible</a> #}
        <a href="{{ path('edit_espace', {'id' :espace.id}) }}">Modifier l'espace</a>
        <a href="{{ path('remove_espace', {'id' :espace.id}) }}">Supprimer l'espace</a>
      </div>
    {% endif %}

  
  
  <div class="details-espace">
    <div class="haut-de-page">

      {% if  espace.images|length > 1 %}
        
      {# Caroussel #}
      <div class="caroussel-gauche">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for key, image in espace.images %}
              {% if image is not empty %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}">
                  <img src="{{ asset('uploads/images/' ~ image.lienImage) }}" class="d-block w-100" alt="{{ image.altImage|default('Texte de remplacement') }}">
                  {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('remove_image', {'id': image.id}) }}">Supprimer l'image</a>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
      {% else %}
      <div class="caroussel-gauche">
        {% for image in espace.images %}
          {% if image is not empty %}
            <img src="{{ asset('uploads/images/' ~ image.lienImage) }}" alt="{{ image.altImage|default('Chambre de l\'établissement Au Paradis d\'Eve, lumineuse, disposant d\'un lit, d\'une commode, d\'un fauteuil')}}">
            {% if is_granted ('ROLE_ADMIN') %}
              <a href="{{ path('remove_image', {'id' :image.id}) }}" class="delete-img">Supprimer l'image</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
        
      {% endif %}
      {# Nom de l'espace + détails techniques + description + bouton réserver #}
      <div class="details-espace-droite">
        
        <h1>{{espace.nomEspace}}</h1>
  
        <div class="infos-techniques-espace">
          <span class="material-symbols-outlined">straighten</span>Taille : {{espace.taille}} m²
            <span class="material-symbols-outlined">bed</span>Pour {{espace.nbPlaces}} personnes
          {% if espace.wifi == 1 %}
            <span class="material-symbols-outlined">wifi</span>
          {% else %}
            <span class="material-symbols-outlined">wifi_off</span>
          {% endif %}
        </div>
        
        <div class="description-espace">
          <p>{{ espace.description }}</p>
        </div>
        {# <h2>{{espace.prix}}€ /personne</h2> #}
        
        {# N'autoriser la réservation que si la catégorie est 1 (chambre) ou 11 (logement entier) #}
          {# {% if espace.categorie.Id == 1 %}
            {% include 'booking/calendar.html.twig' %}
            <h2>{{espace.prix}}€ /personne</h2>
          {% else %}
            <p>Cet espace est accessible avec votre réservation.</p>
          {% endif %}
  
          {% if espace.categorie.Id == 11 %}
            {% include 'booking/calendar.html.twig' %}
            <h2>{{espace.prix}}€ /personne</h2>
          {% endif %} #}


          <h5 class="autres-espaces-title">Consulter les autres espaces...</h5>

          <div class="autres-espaces">
            {# afficher les autres espaces en preview #}
            {% for espace in espaces|slice(0,5) %}
              <div class="espace-preview">       
                <a href="{{path('show_espace', {'id' :espace.id})}}" class="nom-espace-preview"> {{espace.nomEspace}}</a>
                {% for image in espace.images|slice(0,1) %}
                    {% if image.lienImage is null %}
                        <img src="{{ asset('img/chambreLilas.jpg')}}" width="300">
                    {% else %}
                        <img src="{{ asset('uploads/images/' ~ image.lienImage) }}" alt="{{ image.altImage|default('Texte de remplacement')}}" width="300">
                    {% endif %}
                {% endfor %}
                
                    
                </div>
            {% endfor %}
          </div>
          {% if espace.categorie.Id == 1 %}
          <a href="{{ path('new_reservation', {'id' :espace.id})}}" type="button" class="btn btn-success" id="booking-button">Réserver</a>
          {% else %}
          <p>Cet espace est accessible avec votre réservation.</p>
        {% endif %}

        {% if espace.categorie.Id == 11 %}
        <a href="{{ path('new_reservation', {'id' :espace.id})}}" type="button" class="btn btn-success" id="booking-button">Réserver</a>
        {% else %}
      {% endif %}

      </div>

      
    </div>
    <div class="calendrier-container">
      {% if espace.categorie.Id == 1 %}
      {% include 'booking/calendar.html.twig' %}
      <h2>{{espace.prix}}€ /personne</h2>
    {% else %}
      <p>Cet espace est accessible avec votre réservation.</p>
    {% endif %}
  
    {% if espace.categorie.Id == 11 %}
      {% include 'booking/calendar.html.twig' %}
      <h2>{{espace.prix}}€ /personne</h2>
    {% endif %}
    </div>

    {% if espace.categorie.Id == 1 %}
    <div class="avis-bas-de-page">
      {# Avis #}
      <h3>Vos avis sur {{ espace.nomEspace }}</h3>
      {% for reservation in reservations %}
      
        {% if  reservation.getNote() is not null %}

          <div class="evaluation" id="evaluation_{{ reservation.id }}">
            Séjour efféctué du {{reservation.dateDebutFr}} au {{reservation.dateFinFr}}<br>

            {{ reservation.prenom|slice(0, 1) }} :
            {# {% if reservation.getAvis() is not null %} #}
            {% if reservation.getAvis()|length > 1 %}
                {{ reservation.getAvis() }}<br>
            {% else %}
                <p>Pas de commentaire</p>
            {% endif %}

            {% if reservation.getNote() is not null %}
                <h4>Note : {{ reservation.getNote() }} /20</h4>
            {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="" class="masquer-evaluation" data-evaluation-id="{{ reservation.id }}">Masquer l'évaluation</a><br>
                    {# <a href="">Répondre à l'utilisateur</a> #}
                {% endif %}

          </div>
          {% else %}
          <p>Pas de commentaire</p>

        {% endif %}

      {% endfor %}
    </div>
    {% endif %}

    </div>
      

</section>
{% endblock %}