{% extends 'base.html.twig' %}

{% block title %}Détails d'un espace!{% endblock %}

{% block body %}

 <div class="details-espace">
    {{espace.nomEspace}}
    {{espace.taille}} m²
    {{espace.wifi}}
    {{espace.nbPlaces}} personnes
    {{espace.prix}}€
    {{espace.categorie.nomCategorie}}
    
    {% for image in espace.images %}
         <img src="../img/{{image.lienImage}}" width="300">
    {% endfor %}

    {% if espace.categorie.Id == 1 %}
      <a href="{{ path('new_reservation', {'id' :espace.id})}}">Réserver</a>
    {% endif %}

    {% if espace.categorie.Id == 11 %}
      <a href="{{ path('new_reservation', {'id' :espace.id})}}">Réserver</a>
    {% endif %}

{# 
    {% if espace.categorie == '1' %}
      <a href="{{ path('new_reservation', {'id' :espace.id})}}">Réserver</a>
    {% endif %} #}

 </div>
{% endblock %}