{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/espaces.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}
{% block title %}Détails d'un espace!{% endblock %}

{% block body %}

<section class="detail-espace">
  <h1>{{espace.nomEspace}}</h1>
  
  {% if is_granted ('ROLE_ADMIN') %}
    {# <a href="{{ path('new_image', {'id' :espace.id}) }}">Ajouter des images</a> #}
    <a href="{{ path('edit_espace', {'id' :espace.id}) }}">Modifier l'espace</a>
    <a href="{{ path('remove_espace', {'id' :espace.id}) }}">Supprimer l'espace</a>
  {% endif %}
  
  <div class="details-espace">
    
    {% for image in espace.images %}
      {% if image is not empty %}
        <img src="{{ asset('uploads/images/' ~ image.lienImage) }}">
        <a href="{{ path('remove_image', {'id' :image.id}) }}">X</a>
      {% endif %}
    {% endfor %}
    <div class="infos-techniques-espace">
      {{espace.taille}} m²
      {{espace.nbPlaces}} personnes
      {% if espace.wifi == 1 %}
        <span class="material-symbols-outlined">wifi</span> Wifi
      {% endif %}
    </div>

    <div class="description-espace">
      <p>{{ espace.description }}</p>
    </div>
    <h2>{{espace.prix}}€ /personne</h2>
    
    
    {# N'autoriser la réservation que si la catégorie est 1 (chambre) ou 11 (logement entier) #}
      {% if espace.categorie.Id == 1 %}
        <a href="{{ path('app_direction', {'id' :espace.id})}}" type="button" class="btn btn-success">Réserver</a>
      {% endif %}
  
      {% if espace.categorie.Id == 11 %}
        <a href="{{ path('app_direction', {'id' :espace.id})}}" type="button" class="btn btn-success">Réserver</a>
      {% endif %}
      
      <h3>Vos avis sur {{ espace.nomEspace }}</h3>

      {% for reservation in reservations %}
        <div class="evaluation" id="evaluation_{{ reservation.id }}">
          Séjour efféctué du {{reservation.dateDebutFr}} au {{reservation.dateFinFr}}<br>

          {{ reservation.prenom|slice(0, 1) }} :
          {# {% if reservation.getAvis() is not null %} #}
          {% if reservation.getAvis()|length > 1 %}
              {{ reservation.getAvis() }}<br>
          {% else %}
              <p>Pas de commentaire</p>
          {% endif %}

          {% if reservation.getNote() is not null %}
              <h4>Note : {{ reservation.getNote() }} /20</h4>
          {% endif %}

              {% if is_granted('ROLE_ADMIN') %}
                  <a href="" class="masquer-evaluation" data-evaluation-id="{{ reservation.id }}">Masquer l'évaluation</a><br>
                  {# <a href="">Répondre à l'utilisateur</a> #}
              {% endif %}

        </div>
      {% endfor %}
  </div>
</section>
{% endblock %}