{% extends 'base.html.twig' %}
{% block meta_description %} Réservations à venir {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}


<div class="profil">
    {% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('toutes_reservations') }}">Retour</a>
    {% else %}
    <a href="{{ path('app_user') }}">Retour au profil</a>
    {% endif %}
    
    <h1>Réservation à venir</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {# {% for reservationAVenir in toutesReservationsAVenir %} #}
            <table class="table table-warning table-striped">
                <thead>
                <tr>
                    <th scope="col">N° réservation</th>
                    <th scope="col">Nom Prénom</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Chambre</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Option(s)</th>
                    <th scope="col">Prix total</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for reservationAVenir in toutesReservationsAVenir %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ reservationAVenir.prenom }} {{ reservationAVenir.nom }}</td>
                    <td>{{ reservationAVenir.dateDebutFr }} au {{ reservationAVenir.dateFinFr }}</td>
                    <td>{{ reservationAVenir.espace.nomEspace }}</td>
                    <td>{{ reservationAVenir.duree }} nuits</td>
                    <td>
                        {% if reservationAVenir.options %}                      
                            {% for option in reservationAVenir.options %}
                                * {{ option.nom }} <br>
                            {% endfor %}
                        {% else %}
                            <p>Pas d'option</p>
                        {% endif %}
                    </td>
                    <td>{{ reservationAVenir.prixTotal }} €</td>
                    <td><a href="{{ path('annuler_reservation', {'id' : reservationAVenir.id})}}">Annuler</a>
                    </td>
                </tr>
                {% endfor %}  
                </tbody>
            </table>
        {# {% endfor %}   #}
    {% endif %}

    {% if reservationsAVenir %}
        {# {% for reservationAVenir in reservationsAVenir %} #}
                <table class="table table-warning table-striped">
                    <thead>
                    <tr>
                        <th scope="col">N° réservation</th>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Chambre</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Option(s)</th>
                        <th scope="col">Prix total</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for reservationAVenir in reservationsAVenir %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ reservationAVenir.prenom }} {{ reservationAVenir.nom }}</td>
                        <td>{{ reservationAVenir.dateDebutFr }} au {{ reservationAVenir.dateFinFr }}</td>
                        <td>{{ reservationAVenir.espace.nomEspace }}</td>
                        <td>{{ reservationAVenir.duree }} nuits</td>
                        <td>
                            {% if reservationAVenir.options %}                      
                                {% for option in reservationAVenir.options %}
                                    * {{ option.nom }} <br>
                                {% endfor %}
                            {% else %}
                                <p>Pas d'option</p>
                            {% endif %}
                        </td>
                        <td>{{ reservationAVenir.prixTotal }} €</td>
                        <td><a href="{{ path('annuler_reservation', {'id' : reservationAVenir.id})}}">Annuler</a>
                        </td>
                    </tr>   
                    {% endfor %} 
                    </tbody>
                </table>
            {# {% endfor %}   #}
        {% endif %}
    {% else %}
        <p>Pas de réservation à venir</p>
    {% endif %}

    </div>
{% endblock %}