{% extends 'base.html.twig' %}
{% block meta_description %} Réservations en cours {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="profil">

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('toutes_reservations') }}" type="button" class="btn btn-light" id="retour">Retour</a>
        {% else %}
            <a href="{{ path('app_user') }}" type="button" class="btn btn-light" id="retour">Retour au profil</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {# Toutes les réservations en cours #}
            {% if toutesReservationsEnCours %}
                {% for reservationEnCours in toutesReservationsEnCours %}
                        <h2>Votre réservation en cours</h2>
                            {{reservationEnCours.prenom}}
                            {{reservationEnCours.nom}}
                            <p>Du {{reservationEnCours.dateDebutFr}} au {{reservationEnCours.dateFinFr}} dans {{reservationEnCours.espace}}</p>
                            <p>Durée totale : {{reservationEnCours.duree}} nuits</p>
                            {% if reservationEnCours.options %}
                                <p>Options :</p>
                                    {% if reservationEnCours.options is not empty %}
                                        <ul>
                                            {% for option in reservationEnCours.options %}
                                                <li>{{ option.nom }}</li>
                                                <li>{{ option.tarif }} €</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Pas d'option</p>
                                    {% endif %}
                            {% endif %}
                            <p>Prix total : {{reservationEnCours.prixTotal}} €</p>
                            <p><a href="">Détails</a>(adresseFacturation, lien pdf)</p>
                {% endfor %}
            {% endif %}
        {% endif %}



        {% if reservationEnCours %}
            {% for reservationEnCours in reservationEnCours %}
                        <h2>Votre réservation en cours</h2>
                            {{reservationEnCours.prenom}}
                            {{reservationEnCours.nom}}
                            <p>Du {{reservationEnCours.dateDebutFr}} au {{reservationEnCours.dateFinFr}} dans {{reservationEnCours.espace}}</p>
                            <p>Durée totale : {{reservationEnCours.duree}} nuits</p>
                            {% if reservationEnCours.options %}
                                <p>Options :</p>
                                    {% if reservationEnCours.options is not empty %}
                                        <ul>
                                            {% for option in reservationEnCours.options %}
                                                <li>{{ option.nom }}</li>
                                                <li>{{ option.tarif }} €</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Pas d'option</p>
                                    {% endif %}
                            {% endif %}
                            <p>Prix total : {{reservationEnCours.prixTotal}} €</p>
                            <p><a href="">Détails</a>(adresseFacturation, lien pdf)</p>
            {% endfor %}
        {% else %}
            <h5>Pas de réservations en cours</h5>
            <a href="{{path('app_reservation')}}" type="button" class="btn btn-success" id="retour" >Réserver</a>    
            <a href="{{ path('app_user') }}" type="button" class="btn btn-light" id="retour">Retour au profil</a>
        {% endif %}
    </div>

{% endblock %}