{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="profil">
        {% if reservationEnCours %}
            {% for reservationEnCours in reservationEnCours %}
                        <h2>Votre réservation en cours</h2>
                            {{reservationEnCours.prenom}}
                            {{reservationEnCours.nom}}
                            <p>Du {{reservationEnCours.dateDebutFr}} au {{reservationEnCours.dateFinFr}} dans {{reservationEnCours.espace}}</p>
                            <p>Durée totale : {{reservationEnCours.duree}} nuits</p>
                            {% if reservationEnCours.options %}
                                <p>Options :</p>
                                    {% if reservationEnCours.options is not empty %}
                                        <ul>
                                            {% for option in reservationEnCours.options %}
                                                <li>{{ option.nom }}</li>
                                                <li>{{ option.tarif }} €</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Pas d'option</p>
                                    {% endif %}
                            {% endif %}
                            <p>Prix total : {{reservationEnCours.prixTotal}} €</p>
                            <p><a href="">Détails</a>(adresseFacturation, lien pdf)</p>
            {% endfor %}
        {% else %}
            <h5>Pas de réservations à venir</h5>
            <a href="{{path('app_reservation')}}">Réserver</a>    
        {% endif %}
    </div>
    <a href="{{ path('app_user') }}">Retour au profil</a>

{% endblock %}