{% extends 'base.html.twig' %}
{% block meta_description %} Réservations en cours {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="profil">

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('toutes_reservations') }}" type="button" class="btn btn-light" id="retour">Retour</a>
        {% else %}
            <a href="{{ path('app_user') }}" type="button" class="btn btn-light" id="retour">Retour au profil</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Liste des réservations en cours</h2>
                {# Toutes les réservations en cours #}
                {% if toutesReservationsEnCours %}
                <table>
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Nom Prénom</th>
                            <th scope="col">Dates</th>
                            <th scope="col">Chambre</th>
                            <th scope="col">Durée</th>
                            <th scope="col">Option(s)</th>
                            <th scope="col">Prix total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservationEnCours in toutesReservationsEnCours %}
                            <tr>
                                <td>{{reservationEnCours.id}}</td>
                                <td>{{reservationEnCours.nom}} {{reservationEnCours.prenom}}</td>
                                <td>{{reservationEnCours.dateDebutFr}} au {{reservationEnCours.dateFinFr}}</td>
                                <td>{{reservationEnCours.espace}}</td>
                                <td>{{reservationEnCours.duree}} nuits</td>
                                <td>
                                    {% if reservationEnCours.options %}
                                        <ul>
                                            {% for option in reservationEnCours.options %}
                                                <li>{{ option.nom }}</li>
                                                <li>{{ option.tarif }} €</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Pas d'option</p>
                                    {% endif %}</td>
                                <td>{{reservationEnCours.prixTotal}} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            {% endif %}
        {% endif %}

        {% if reservationEnCours %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Chambre</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Option(s)</th>
                        <th scope="col">Prix total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservationEnCours in reservationEnCours %}
                        <tr>
                            <td>{{reservationEnCours.id}}</td>
                            <td>{{reservationEnCours.nom}} {{reservationEnCours.prenom}}</td>
                            <td>{{reservationEnCours.dateDebutFr}} au {{reservationEnCours.dateFinFr}}</td>
                            <td>{{reservationEnCours.espace}}</td>
                            <td>{{reservationEnCours.duree}} nuits</td>
                            <td>
                                {% if reservationEnCours.options %}
                                    <ul>
                                        {% for option in reservationEnCours.options %}
                                            <li>{{ option.nom }}</li>
                                            <li>{{ option.tarif }} €</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Pas d'option</p>
                                {% endif %}</td>
                            <td>{{reservationEnCours.prixTotal}} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>        
        {% endif %}
    </div>

{% endblock %}