{% extends 'base.html.twig' %}
{% block meta_description %} Réservations passées {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="profil">

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('toutes_reservations') }}">Retour</a>
        {% else %}
            <a href="{{ path('app_user') }}">Retour au profil</a>
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
            {# Toutes les réservations passées #}
            <h1>Les réservations passées</h1>
            {% for reservationPassee in toutesReservationsPassees %}
                <p>Votre séjour du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}} dans {{reservationPassee.espace}}, au nom de  {{reservationPassee.prenom}}{{reservationPassee.nom}}</p>
                <p>Durée totale : {{reservationPassee.duree}} nuits</p>

                {% if reservationPassee.options %}
                    <p>Options :</p>
                    {# <ul>
                        {% for option in reservationPassee.options %}
                            <li>{{ option }}</li>
                        {% endfor %}
                    </ul> #}
                {% endif %}
                <p>Prix total : {{reservationPassee.prixTotal}} €</p>

            {% endfor %}
        {% endif %}
        
        {% if reservationsPassees %}

        <h4>Vos réservations passées</h4>
        <p>Liste</p>
        {% for reservationPassee in reservationsPassees %}
            <p>Votre séjour du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}} dans {{reservationPassee.espace}}, au nom de  {{reservationPassee.prenom}}{{reservationPassee.nom}}</p>
            <p>Durée totale : {{reservationPassee.duree}} nuits</p>

            {% if reservationPassee.options %}
            <p>Options :</p>
            {# <ul>
                {% for option in reservationPassee.options %}
                    <li>{{ option }}</li>
                {% endfor %}
            </ul> #}
        {% endif %}
            <p>Prix total : {{reservationPassee.prixTotal}} €</p>
            {% if reservationPassee.avis %}
                <p>Merci d'avoir partagé votre avis</p>
                {{reservationPassee.avis}}
                {{reservationPassee.note}}
            {% else %}
                <a href="{{ path('new_evaluation', {'reservation' : reservationPassee.id})}}">Laisser un avis</a>
            {% endif %}
        {% endfor %}
        {% for reservationPassee in reservationsPassees %}
                {% if reservationPassee.note %}
                    <p>Mes avis</p>
                    {{reservationPassee.espace}}
                    Du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}}
                    <p>Options :</p>
                        {% if reservationPassee.options is not empty %}
                            <ul>
                                {% for option in reservationPassee.options %}
                                    <li>{{ option.nom }}</li>
                                    <li>{{ option.tarif }} €</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Pas d'option</p>
                        {% endif %}
                    {{reservationPassee.avis}}
                    {{reservationPassee.note}}
                {% endif %}
            {% endfor %}
        {% else %}
            <h5>Pas de réservations passées</h5>
            <a href="{{path('app_reservation')}}">Réserver</a>    
        {% endif %}
    </div>
{% endblock %}