{% extends 'base.html.twig' %}
{% block meta_description %} Réservations passées {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="profil">

        <h1>Réservations passées</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('toutes_reservations') }}">Retour</a>
        {% else %}
            <a href="{{ path('app_user') }}">Retour au profil</a>
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
        
            {# {% for reservationPassee in toutesReservationsPassees %} #}
                <table class="table table-danger table-striped">
                    <thead>
                    <tr>
                        <th scope="col">N° réservation</th>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Chambre</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Option(s)</th>
                        <th scope="col">Prix total</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservationPassee in toutesReservationsPassees %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ reservationPassee.prenom }} {{ reservationPassee.nom }}</td>
                            <td>{{ reservationPassee.dateDebutFr }} au {{ reservationPassee.dateFinFr }}</td>
                            <td>{{ reservationPassee.espace.nomEspace }}</td>
                            <td>{{ reservationPassee.duree }} nuits</td>
                            <td>
                                {% if reservationPassee.options %}                      
                                    {% for option in reservationPassee.options %}
                                        * {{ option.nom }} <br>
                                    {% endfor %}
                                {% else %}
                                    <p>Pas d'option</p>
                                {% endif %}
                            </td>
                            <td>{{ reservationPassee.prixTotal }} €</td>
                            <td><a href="{{path('app_pdf_generator', {'id' : reservationPassee.id})}}" target="_blank"">PDF</a> <br>
                                <a href="">Envoyer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {# {% endfor %} #}

        {% else %}
            {% if reservationsPassees %}

            <h4>Vos réservations passées</h4>
            <p>Liste</p>
            {% for reservationPassee in reservationsPassees %}
                <p>Votre séjour du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}} dans {{reservationPassee.espace}}, au nom de  {{reservationPassee.prenom}}{{reservationPassee.nom}}</p>
                <p>Durée totale : {{reservationPassee.duree}} nuits</p>

                {% if reservationPassee.options %}
                <p>Options :</p>
                {# <ul>
                    {% for option in reservationPassee.options %}
                        <li>{{ option }}</li>
                    {% endfor %}
                </ul> #}
            {% endif %}
                <p>Prix total : {{reservationPassee.prixTotal}} €</p>

                <a href="">Télécharger PDF</a>

                {% if reservationPassee.avis %}
                    <p>Merci d'avoir partagé votre avis</p>
                    {{reservationPassee.avis}}
                    {{reservationPassee.note}}
                {% else %}
                    <a href="{{ path('new_evaluation', {'reservation' : reservationPassee.id})}}">Laisser un avis</a>
                {% endif %}
            {% endfor %}
            {% for reservationPassee in reservationsPassees %}
                    {% if reservationPassee.note %}
                        <p>Mes avis</p>
                        {{reservationPassee.espace}}
                        Du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}}
                        <p>Options :</p>
                            {% if reservationPassee.options is not empty %}
                                <ul>
                                    {% for option in reservationPassee.options %}
                                        <li>{{ option.nom }}</li>
                                        <li>{{ option.tarif }} €</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Pas d'option</p>
                            {% endif %}
                        {{reservationPassee.avis}}
                        {{reservationPassee.note}}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h5>Pas de réservations passées</h5>
                <a href="{{path('app_reservation')}}">Réserver</a>    
            {% endif %}

        {% endif %}

        
    </div>
{% endblock %}