{% extends 'base.html.twig' %}
{% block meta_description %} Réservations passées {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="profil">

        <h1>Réservations passées</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('toutes_reservations') }}" type="button" class="btn btn-light" id="retour">Retour</a>
        {% else %}
            <a href="{{ path('app_user') }}" type="button" class="btn btn-light" id="retour">Retour au profil</a>
        {% endif %}
        
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom Prénom</th>
                        <th>Dates</th>
                        <th>Chambre</th>
                        <th>Options</th>
                        <th>Prix total</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% for reservationPassee in toutesReservationsPassees %}
                        <tr>
                        <td>{{ reservationPassee.id }}</td>
                        <td>{{ reservationPassee.prenom }} {{ reservationPassee.nom }}</td>
                        <td>{{ reservationPassee.dateDebutFr }} au {{ reservationPassee.dateFinFr }}</td>
                        <td>{{ reservationPassee.espace.nomEspace }}</td>
                        <td> {% if reservationPassee.options %}                      
                            {% for option in reservationPassee.options %}
                                * {{ option.nom }} <br>
                            {% endfor %}
                        {% else %}
                            <p>Pas d'option</p>
                        {% endif %}</td>
                        <td>{{ reservationPassee.prixTotal }} €</td>
                        <td><a href="{{path('app_pdf_generator', {'id' : reservationPassee.id})}}" target="_blank">PDF</a> <br>
                            {# <a href="">Envoyer</a></td> #}
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for reservationPassee in  reservationsPassees %}
                            <tr>
                                <td>{{ reservationPassee.id }}</td>
                                <td>{{ reservationPassee.prenom }} {{ reservationPassee.nom }}</td>
                                <td>{{ reservationPassee.dateDebutFr }} au {{ reservationPassee.dateFinFr }}</td>
                                <td>{{ reservationPassee.espace.nomEspace }}</td>
                                <td> {% if reservationPassee.options %}                      
                                    {% for option in reservationPassee.options %}
                                        * {{ option.nom }} <br>
                                    {% endfor %}
                                {% else %}
                                    <p>Pas d'option</p>
                                {% endif %}</td>
                                <td>{{ reservationPassee.prixTotal }} €</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>        
    </div>
{% endblock %}