{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre profil, {{app.user.pseudo}}</h1>

    <h2>Liste des réservations confirmées</h2>
    {# {% if user.reservations is defined %}
        <p>Liste des réservations</p>
    {% for reservations in user.reservations %}
        {{reservations.dateDebut}}
    {% endfor %}
    {% else %}
        <p>Aucune réservation trouvée.</p>
    {% endif %} #}

    {% for reservation in app.user.reservations %}
        {{reservation.prenom}}
        {{reservation.nom}}
        <p>Du {{reservation.dateDebutFr}} au {{reservation.dateFinFr}} dans {{reservation.espace}}</p>
        <p>Durée totale : {{reservation.duree}} nuits</p>
        <p>Prix total : {{reservation.prixTotal}} €</p>
        <p><a href="">Détails</a>(adresseFacturation, lien pdf)</p>
    {% endfor %}

    <h3>Vos réservations non confirmées</h3>
        <p>Liste - Poursuivre</p>

    <h4>Vos réservations passées</h4>
    <p>Liste - (Si pas encore d'avis) Laisser un avis</p>

    <h5>Paramètres</h5>
    <p>Pseudo : {{app.user.pseudo}} <a href="{{ path('edit_user', {'id' : app.user.id})}}">Modifier pseudo</a></p>
    <p>Email : {{app.user.email}}<a href="{{ path('edit_user_email', {'id' : app.user.id})}} "> Modifier l'email</a></p>
    <p>Mot de passe : ************* <a href="{{ path('upgrade_password')}}">Modifier mot de passe</a></p>
    <p><a href="{{ path('delete_user', {'id': app.user.id}) }}">Supprimer mon compte</a></p>
{% endblock %}
