{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}


<h1>Bienvenue sur votre profil, {{app.user.pseudo}}</h1>

{% if is_granted("ROLE_ADMIN") %}
    <p>Administrateur</p>
    <p>Actions</p>
    <a href="{{ path('app_home') }}">Modifier le texte de la page d'accueil</a>
    <a href="{{ path('app_espace') }}">Modifier ou supprimer un espace</a>
    <a href="{{ path('app_alentours') }}">Modifier ou supprimer un alentours</a>
{% else %}
    <!--Si réservation en cours-->
    <h2>Votre réservation en cours</h2>
    
    {% for reservationEnCours in reservationEnCours %}
        {{reservationEnCours.prenom}}
        {{reservationEnCours.nom}}
        <p>Du {{reservationEnCours.dateDebutFr}} au {{reservationEnCours.dateFinFr}} dans {{reservationEnCours.espace}}</p>
        <p>Durée totale : {{reservationEnCours.duree}} nuits</p>
        <p>Prix total : {{reservationEnCours.prixTotal}} €</p>
        <p><a href="">Détails</a>(adresseFacturation, lien pdf)</p>
    {% endfor %}

    <h3>Vos réservations non confirmées</h3>
        <p>Liste - Poursuivre</p>
        {% for reservationNonConfirmee in reservationsNonConfirmees %}
            <p><a href="{{ path('new_coordonnees', {'reservation' : reservationNonConfirmee.id}) }}">Reprendre votre réservation</a> du  {{reservationNonConfirmee.dateDebutFr}} au {{reservationNonConfirmee.dateFinFr}} dans la {{reservationNonConfirmee.espace}}</p>
        {% endfor %}

    <h4>Vos réservations passées</h4>
    <p>Liste</p>
    {% for reservationPassee in reservationsPassees %}
            <p>Votre séjour du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}} dans {{reservationPassee.espace}}, au nom de  {{reservationPassee.prenom}}{{reservationPassee.nom}}</p>
            <p>Durée totale : {{reservationPassee.duree}} nuits</p>
            <p>Prix total : {{reservationPassee.prixTotal}} €</p>
            <p>(Si pas encore d'avis) <a href="{{ path('new_evaluation', {'reservation' : reservationPassee.id})}}">Laisser un avis</a></p>
            {% if reservationPassee.avis %}
                {{reservationPassee.avis}}
                {{reservationPassee.note}}
            {% endif %}
    {% endfor %}

    <h5>Vos réservations à venir</h5>
    <p>Préparez votre séjour</p>
    {% for reservationAVenir in reservationsAVenir %}
            <p>Votre séjour du {{reservationAVenir.dateDebutFr}} au {{reservationAVenir.dateFinFr}} dans {{reservationAVenir.espace}}, au nom de  {{reservationAVenir.prenom}}{{reservationAVenir.nom}}</p>
            <p>Durée totale : {{reservationAVenir.duree}} nuits</p>
            <p>Prix total : {{reservationAVenir.prixTotal}} €</p>
    {% endfor %}

    <p>Mes avis</p>
    <p>Liste des avis</p>
    {% for reservationPassee in reservationsPassees %}
        {{reservationPassee.espace}}
        Du {{reservationPassee.dateDebutFr}} au {{reservationPassee.dateFinFr}}
        {{reservationPassee.avis}}
        {{reservationPassee.note}}
    {% endfor %}
    {% endif %}

    <h6>Paramètres</h6>
    <p>Pseudo : {{app.user.pseudo}} <a href="{{ path('edit_user', {'id' : app.user.id})}}">Modifier pseudo</a></p>
    <p>Email : {{app.user.email}}<a href="{{ path('edit_user_email', {'id' : app.user.id})}} "> Modifier l'email</a></p>
    <p>Mot de passe : ************* <a href="{{ path('upgrade_password')}}">Modifier mot de passe</a></p>
    <p><a href="{{ path('delete_user', {'id': app.user.id}) }}">Supprimer mon compte</a></p>
    
{% endblock %}