{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre profil, {{app.user.pseudo}}</h1>

    <h2>Liste des réservations confirmées</h2>
    {% if reservations is defined %}
        <p>Liste des réservations</p>
    {% for reservation in reservations %}
        {{reservation.prenom}}
    {% endfor %}
    {% else %}
        <p>Aucune réservation trouvée.</p>
    {% endif %}

    <h3>Vos réservations non confirmées</h3>
        <p>Liste - Poursuivre</p>

    <h4>Vos réservations passées</h4>
    <p>Liste - (Si pas encore d'avis) Laisser un avis</p>

    <h5>Paramètres</h5>
    <p>Pseudo : {{app.user.pseudo}} <a href="{{ path('edit_user', {'id' : app.user.id})}}">Modifier pseudo</a></p> <!--https://github.com/davinahouquet/Sessions/commit/4b51a8dcf9c40c5d0936bd6865269240a373fe70-->
    <p>Email : {{app.user.email}}/ Modifier l'email</p> <!--https://github.com/davinahouquet/Sessions/commit/8e53ed4675b1f1a7648ab7589f91c9c458244d41-->
    <p>Mot de passe : {{app.user.password}}/ Modifier mot de passe</p> <!--https://github.com/davinahouquet/Sessions/commit/d3bf4b739a1f467a335b6f707b4dbdda41df4e56-->
    <p><a href="{{ path('delete_user', {'id': app.user.id}) }}">Supprimer mon compte</a></p>
{% endblock %}
