{% extends 'base.html.twig' %}
{% block meta_description %} Paramètres {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
<section class="profil">
    <h1>Paramètres</h1>
    <p>Pseudo : <b>{{app.user.pseudo}} </b><br>
        <a href="{{ path('edit_user', {'id' : app.user.id})}}" type="button" class="btn btn-success">Modifier pseudo</a></p>
    <p>Email : <b>{{app.user.email}}</b>
        <a href="{{ path('edit_user_email', {'id' : app.user.id})}}" type="button" class="btn btn-success"> Modifier l'email</a></p>
    <p>Mot de passe : <b>*************</b>
        <a href="{{ path('upgrade_password')}}" type="button" class="btn btn-success">Modifier mot de passe</a></p>

        {% if is_granted('ROLE_ADMIN') %}
            <p>Vous ne pouvez pas supprimer votre compte</p>
        {% else %}
            <a href="{{ path('delete_user', {'id': app.user.id}) }}" type="button" class="btn btn-danger">Supprimer mon compte</a><br><br>
        {% endif %}

    <a href="{{ path('app_user') }}">Retour au profil</a>
</section>
{% endblock %}