{% extends 'base.html.twig' %}
{% block meta_description %} Questions pratiques {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
<section class="profil">
    <a href="{{ path('app_user') }}" class="btn btn-success">Retour au profil</a>
    <ul class="questions_pratiques">
        <h1 class="questions-h1">Questions pratiques</h1>
        {% for question in data %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit_question', {'id': question.id}) }}">Modifier</a>
                {% endif %}
                <h2>{{ question.question }}</h2>
                <p>{{ question.reponse }}</p>
            </li>
        {% endfor %}
    </ul>
    <button id="scrollToTopBtn" onclick="scrollToTop()"><span class="material-symbols-outlined">
        arrow_upward
    </span></button>
</section>
{% endblock %}
