{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/alentours.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Alentours{% endblock %}

{% block body %}

<section class="alentours">
    <h1>Nos 5 propositions de sorties</h1>
    <ul>
        {% for sortie in data.sorties %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit_alentours', {'id': sortie.id_sortie}) }}">Modifier</a>
                {% endif %}
                <h2>{{ sortie.nom_sortie }}</h2>
                <p>{{ sortie.description_sortie }}</p>
                <p>Tarif approximatif: {{ sortie.tarif_sortie }} €</p>
                {# <img src="{{ sortie.image_sortie }}" alt="{{ sortie.nom_sortie }}" width="200" height="150"> #}
                <img src="{{ asset('../img/citadelle.png') }}" alt="{{ sortie.nom_sortie }}" class="image-sortie">
                <p class="credit">@utilisateur ou lien pour crédit photo</p>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
