{% extends 'base.html.twig' %}

{% block title %}Alentours{% endblock %}

{% block body %}
    <h1>Sorties à proximité</h1>

    <ul>
        {% for sortie in data.sorties %}
            <li>
                <h2>{{ sortie.nom_sortie }}</h2>
                <p>{{ sortie.description_sortie }}</p>
                <p>Tarif : {{ sortie.tarif_sortie }} €</p>
                <img src="{{ sortie.image_sortie }}" alt="{{ sortie.nom_sortie }}" width="200" height="150">
            </li>
        {% endfor %}
    </ul>
{% endblock %}
