{% extends 'base.html.twig' %}
{% block meta_description %} Les alentours - Nos propositions de sortie {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/alentours.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block title %}Alentours{% endblock %}

{% block body %}

<section class="alentours">
    
    {# {% if is_granted('ROLE_ADMIN') %}
        <a href="">Ajouter une sortie</a>
    {% endif %} #}
    
    <h1>Nos 5 propositions de sorties</h1>    

    <ul>
        {% for sortie in data.sorties %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="action-admin">
                    <a href="{{ path('edit_alentours', {'id': sortie.id_sortie}) }}">Modifier</a>
                    {# <a href="">Supprimer</a> #}
                </div>
                {% endif %}
                <div class="titre-texte-tarif-alentours">
                    <h2>{{ sortie.nom_sortie }}</h2>
                    <p>{{ sortie.description_sortie }}</p>
                    <p>Tarif approximatif: {{ sortie.tarif_sortie }} €</p>
                </div>
                <div class="img-credit-alentours">
                    {% if sortie.image_sortie|length > 1 %}
                        {# <img src="{{ asset('img/' ~ sortie.image_sortie) }}" alt="{{ sortie.nom_sortie }}" class="image-sortie"> #}
                        <img src="{{ sortie.image_sortie }}" alt="{{ sortie.nom_sortie }}" class="image-sortie">
                    {% else %}
                        <img src="{{ asset('../img/citadelle.png') }}" alt="{{ sortie.nom_sortie }}" class="image-sortie">
                    {% endif %}
                    <a href="{{ sortie.credit }}" class="credit">{{ sortie.credit }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    
</section>
{% endblock %}
